{% extends "bootstrap/base.html"  %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css" />


<link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet"  type="text/css"/>

<link href="{{url_for('static',filename='css/adminia.css')}}" rel="stylesheet"  type="text/css"/> 
<link href="{{url_for('static',filename='css/adminia-responsive.css')}}" rel="stylesheet"  type="text/css"/> 
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block pagecss %} {% endblock %}
{% endblock %}

{% block title %}第三方审计平台{% endblock %}
<body>
    {% block navbar %}
    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>              
                </a>

                <a class="brand" href="./">第三方审计平台</a>

                <div class="nav-collapse">

                    <ul class="nav pull-right">
                    {% block navright %}  {% endblock %}
                    </ul>

                </div> <!-- /nav-collapse -->

            </div> <!-- /container -->

        </div> <!-- /navbar-inner -->

    </div> <!-- /navbar -->


    {% endblock %}

    {% block content %}
    
  {% endblock %}
<div id="footer">
    
    <div class="container">             
        <hr />
        <p>&copy; 2017 developed by 任昆鹏</p>
    </div> <!-- /container -->
    
</div> <!-- /footer -->

{% block js %}
{% endblock %}

  </body>